<div class="flex flex-col flex-1">
  <Navbar />

  <div class="flex flex-1 flex-row">
    <LeftSidebar />

    <div style="position: absolute; top: 0; left: 0;">
      <AnimatedOrphans />
    </div>

    {{outlet}}
  </div>
</div>
