<div class="sticky pin-t p-4 px-6 bg-blue-light h-16 z-10">
  <div class="flex flex-row h-full">
    <div class="flex items-center ml-auto">
      <a href="#" role="button" class="px-2" {{on "click" (action (mut this.showSearchModal) true)}}>
        {{fa-icon "search" class="text-white"}}
      </a>
      <a href="#" role="button" class="px-2">
        {{fa-icon "bell" class="text-white"}}
      </a>
      <div class="px-2">
        <span class="text-white text-sm">Hi, Anton</span>
      </div>
    </div>
  </div>
</div>

{{#if this.showSearchModal}}
  <ModalDialog
    @onClose={{action (mut this.showSearchModal) false}}
    @overlayClassNames="fixed pin-l pin-t pin-b pin-l bg-black-30 w-full h-full z-20"
    @containerClassNames="w-sm h-auto absolute pin-l pin-r pin-t pin-b mt-24 m-auto"
  >
    <div class="w-sm bg-white p-4">
      Oh hai there!
    </div>
  </ModalDialog>
{{/if}}
